body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fbff00;
  }
  
  h1 {
    text-align: center;
    color: #e05e5e;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ff7300;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  td {
    background-color: #000000;
  }
  
  .emoji {
    font-size: 24px;
  }
  
  .category,
  .group {
    font-size: 14px;
    color: #555;
  }
  